<div class="ag_gird_common_filters">
  <div class="filtergirditem" (click)="addoption()">
      <i class="fas fa-plus"></i>
      <span> {{button1}}</span>
  </div>
  <div class="filtergirditem" (click)="existoption()">
      <i class="fas fa-plus"></i>
      <span> {{button2}}</span>
  </div>
  <!-- <ng-container *ngIf="button3!=''">
      <div *ngIf ="popupService.fieldtypeid != 13" class="filtergirditem" (click)="creterecepie()">
          <i class="fas fa-plus"></i>
          <span> {{button3}}</span>
      </div>
  </ng-container> -->
</div>